.dashboardLayout {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.dashboardContent {
  display: flex;
  flex: 1;
  margin-top: 60px; /* Height of navbar */
  min-height: calc(100vh - 60px);
  position: relative;
}

.dashboardMain {
  flex: 1;
  margin-left: 80px;
  transition: all 0.3s ease;
  background-color: #f0f2f5;
  overflow-y: auto;
  height: calc(100vh - 60px);
  position: relative;
  width: calc(100% - 80px);

}

.dashboardMain.mainExpanded {
  margin-left: 240px;
  width: calc(100% - 240px);
  height: calc(100vh - 100px);
  margin-top: 20px;
} 