.overviewContainer {
  height: calc(100vh - 64px);
  display: flex;
  flex-direction: row;
  color: black;
  background-color: white;
  border-radius: 14px;
  overflow: hidden;
}

.firstColumn, .secondColumn {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.firstColumn {
  width: 30%;
  background-color: #7ca491;
}

.secondColumn {
  width: 70%;

}

.firstRow, .secondRow {
  display: flex;
  width: 100%;
}

.firstRow {
  height: 60%;
  background-color: #7c87a4;
}

.secondRow {
  height: 40%;
  background-color: #967ca4;
}

